*
  margin 0
  padding 0
/*****
COLORS
*****/
$darkgreen = #006633
$green = #008d36
$lightgreen = #3aaa35
$lightergreen = #95c11f
$black = #000000
$white = #ffffff
$creamwhite = #f7f7f7
$darkgrey = #373737
$grey = #858585
$lightgrey = #cEcEcE
$shadow = 2px 4px 12px  rgba(0, 0, 0, 0.1)
/*****
FONTS
*****/
h2
  font bold 36px sans-serif
  margin-bottom 24px